.image__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 5px;
    grid-auto-rows: 10px;
    place-items:center;
}

.image__list img{
    width: 250px;
}